body{
  background-color: rgb(33, 26, 26);
  margin: 0;
  color:black;
  margin: 0;
  font-family: "Sharp Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6 ,strong{
  font-family: "Circular", sans-serif;
}

header{
  background-color: white;
  max-height: 48px;
  display:flex;
  position:fixed;
  width:100%;
}

header ul li{
  display:inline;
  margin:12px;
}

header ul li:hover{
  background-color: rgb(253, 234, 204);
  padding: 14px;
}

header h3{
  margin:14px;
}

header img{
  width: 48px;
}

.one{
  background-color: rgb(44, 36, 36);
  width: 100%;
  height: 350px;
  padding: 50px; 
  color: white;
  text-align: center;
}

.one-p1{
  color: black;
}

.three{
  background-color: rgb(33, 26, 26);
  width: 100%;
  padding: 50px;
}

